body {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 1.6;
}

#logo {
    padding-top: 3px;
    width: 100px;
    padding-right: 20px;
    border-radius: 5px;
    padding-bottom: 5px;
}

/* Navbar Styling */

.navbar-header .navbar-brand .brick-logo {
    display: inline-block;
    padding-top: 15px;
    color: gray;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 0;
    border-radius: 0;
    border: 0;
}

.navbar-inverse .navbar-nav li a {
    display: inline-block;
    color: black;
    padding-right: 40px;
}

.navbar-inverse .navbar-nav li a:hover {
    color: #EA7F64;
}

.navbar-inverse .navbar-nav li a:focus {
    color: black;
}

.navbar-inverse .navbar-nav .active a {
    background-color: transparent;
    color: black;
}

.navbar-inverse .navbar-nav .active a:hover {
    background-color: transparent;
    color: #EA7F64;
}

.navbar-toggle {
    background-color: #D8D8D8;
}

#nav {
    background-color: #FFFFFF;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    padding-right: 200px;
}

.navbar-brand {
    min-height: 55px;
    padding: 0 15px 5px;
}

/* Navbar Styling End*/

#slider1 {
    width: 100%;
}

.item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}

.carousel-caption {
    position: absolute;
    top: 0;
    color: whitesmoke;
}

.heading {
    text-align: center;
}

section {
    margin-bottom: 100px;
}

.object {
    margin-top: 100px;
    background: #F5F2F0;
    border-radius: 5px;
}

.skill-pic {
    max-width: 570px;
}

.link a {
    text-decoration: none;
    color: #3498DB;
}

.link a:hover {
    color: #EA7F64;
}

#education {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #D8D8D8;
}

#personal {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #D8D8D8;
}

#text-video {
    padding-top: 10px;
}

.tool {
    text-align: center;
}

.fas:hover {

color: greenyellow;
}

.far:hover {
    color: greenyellow;

}

.fa:hover {
        color: greenyellow;

}


img:hover {
    transform: scale(1.5);
}

.thumbnail {
    transition: all 2s ease-in-out;

}

img:hover {
    transition: all 2s ease;
    z-index:10;

}
 


/* slider animation */
.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    transition: 3s ease;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}
/* slider animation end */

/* styling social buttons */
.social2 a {
    display: inline-block;
    margin-right: 15px;
    border-radius: 5px;
    color: rgb(41, 39, 39);
    font-size: 30px;
    line-height: 15px;
    font-weight: bold;
}

.social2 {
    display: inline-block;
}

.icons {
    text-align: center;
}

.social2 a:hover {
        display: inline-block;

    color: yellowgreen;
    cursor: pointer;
}
/* styling social buttons end*/
