body {
    font-family: 'Raleway',sans-serif;
    font-size: 20px;
    line-height: 1.6;
}

header nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.home-wrapper {
    background: url('../images/slider/teclado.jpg') no-repeat center top;
    background-size: cover;
    color: white;
    padding-bottom: 650px;
}

header img {
    width: 200p50
}

header nav {
    float: right;
    margin-top: 10px;
}